
.division{


}

.carousel {
    height: 80%;
  }
  span.carousel-control-next-icon{
    background-color: black!important;
}
span.carousel-control-prev-icon{
    background-color: black!important;
}
 
